POSTGRES_USER=sambad
POSTGRES_PASSWORD=changeme
POSTGRES_DB=sambad
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin

REDIS_PASSWORD=changeme

MINIO_ROOT_USER=sambad
MINIO_ROOT_PASSWORD=changeme-min-8-chars
MINIO_BUCKET=sambad


SECRET_KEY=generate-with-openssl-rand-hex-32
DOMAIN=localhost